/* CSS Styles for the main element */

.site-main {
    margin: 5em auto;
    font-weight: 700;
}

.site-main .content {
    overflow-y: scroll;
    height: 50vh;
}

.site-main .content::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 1em;
	background-color: #a55c1b;
    background-image: linear-gradient(315deg, #a55c1b 0%, #772f1a 74%);

}

.site-main .content::-webkit-scrollbar {
	width: 12px;
}

.site-main .content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #eb7242;
	background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}

@media (min-width: 600px) {
    .site-main {
        margin: 3em;
        color: var(--color-body-text, #000);
    }

    .site-main .content {
        height: 60vh;
    }
}