/* CSS Styles for the main element */

.site-main {
    margin: 5em auto;
    font-weight: 700;
}

@media (min-width: 600px) {
    .site-main {
        margin: 3em;
        color: var(--color-body-text, #000);
    }

    .site-main .content {
        height: 60vh;
    }
}