:root {
    --font-size-body: 18px;
    --font-size-body-larger: 20px;
    --font-size-body-big: 22px;
    --font-size-body-huge: 24px;

    --layout-main-width: 60em;

    --color-body-bgrd: #444;
    --color-body-text: #0D090A;
    --color-link-default: #FF851B;

    --color-border-default: #999; 

    --spacing-layout-element: 2em;
}